html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    display: inline-block;
    text-decoration: none;
    color: $text;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: $text;
}

html,
body {
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
}

button {
    cursor: pointer;
    border: none;
}

input,
select,
button {
    appearance: none;
}

.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

.container-fluid {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 30px;
}

.jq-ry-container .jq-ry-group-wrapper .jq-ry-group svg {
    stroke: #ffc000;
    stroke-width: 30px;
}

.title {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(108, 111, 115, 0.1);
    border-radius: 4px;
    font-size: 30px;
    line-height: 35px;
    padding: 38px 29px 37px;
    margin-bottom: 50px;
}

.standard__btn {
    border-radius: 16px;
    background-color: #f1f3f6;
    font-size: 14px;
    line-height: 16px;
    padding: 7px 21px 7px;
    color: #747b86;
    transition: all 0.3s;

    &.active {
        background-color: $btn;
        color: #fff;
        @include f500;
    }

    &:hover {
        opacity: 0.5;
    }
}

.item-info {
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 17px;
}

.item-designer {
    color: #000;
    transition: all 0.3s;

    img {
        display: inline-block;
    }

    &:hover {
        opacity: 0.5;
    }
}

.item {

    &-avatar,
    &-icon {
        width: 28px;
        height: 28px;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        vertical-align: middle;
        margin-bottom: 4px;
    }

    &-platform {
        color: $violet;
        transition: all 0.3s;

        img {
            display: inline-block;
        }

        &:hover {
            opacity: 0.5;
        }
    }

    &-icon {
        margin-left: 10px;
        width: 16px;
        height: 16px;
    }

    &-data {
        display: flex;
        justify-content: flex-start;
        border-top: 1px solid #ececec;
        padding: 25px 0;
        font-size: 15px;
    }

    &-price {
        @include f500;
        border-radius: 16px;
        background-color: rgba(#0674ec, 0.1);
        color: #fff;
        padding: 6px 8px;
        font-size: 15px;
    }

    &-likes,
    &-purchases {
        padding: 6px 18px;
        position: relative;

        &::before {
            font-size: 15px;
            position: absolute;
            left: -5px;
        }
    }

    &-likes {
        &::before {
            color: $violet;
        }
    }

    &-purchases {
        color: $btn;
    }
}

.breadcrumbs {
    background-color: #6c6c6c;
    background-image: linear-gradient(to left, #0d3ef2 0%, #4c1f9c 100%);
    opacity: 0.9;

    &__inner {
        padding: 58px 0 60px;
        overflow: hidden;
        color: #fff;
    }

    &__list {
        margin-bottom: 22px;

        li {
            display: inline-block;
            position: relative;
            font-size: 15px;

            & + li {
                padding-left: 20px;

                &::before {
                    content: '/';
                    position: absolute;
                    left: 5px;
                }
            }

            &:last-child {

                span {
                    color: #bfcad7;
                }
            }
        }

        a {
            color: #fff;
        }
    }

    &__title {
        @include f500;
        font-size: 30px;
        line-height: 34px;
    }
}
