$btn : #0674ec;
$text : #555;


@mixin f400 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
}

@mixin f500 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
}

@mixin f700 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
}

