@import "fonts";
@import "vars";
@import "global";

//start header section

.header__top {
    background-color: #eef1f3;

    &-inner {
        display: flex;
        justify-content: space-between;
        min-height: 100px;
        align-items: center;
    }
}

.header__logo {
    display: flex;
    align-items: center;
    font-size: 30px;
    line-height: 28px;
    font-weight: 700;
    color: #000;

    span {
        color: $btn;
    }
}

.header__logo-img {
    margin-right: 6px;
}

.header__signup {
    min-width: 140px;
    margin-left: auto;
    margin-right: 50px;
    border-radius: 18px;
    background-color: $btn;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s;

    &:hover {
        opacity: 0.5;
    }

    &-btn {
        font-size: 14px;
        line-height: 14px;
        padding: 11px 18px 11px;
        color: #fff;
    }
}

.header__user {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-icons {
        margin-right: 50px;
        transition: all 0.3s;
    }

    &-icon {
        span:hover {
            color: $btn
        }
    }

    &-icon + &-icon {
        margin-left: 31px;
    }

    &-avatar {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #7c7979;
        margin-right: 22px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    &-profile {
        line-height: 22px;
        font-weight: 500;
    }

    &-balance {
        font-weight: 400;
        color: $btn;
    }
}

.header__bottom-inner {
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}

.menu__list {
    display: flex;
    align-items: center;

    &-item {
        font-size: 15px;
        font-weight: 500;
        color: #333;
        text-transform: uppercase;
    }

    &-item + &-item {
        margin-left: 32px;
    }

    &-link {
        transition: all 0.3s;

        &:hover {
            color: $btn;
        }
    }
}

.header__search {
    max-width: 360px;
    width: 100%;
    position: relative;

    &-input {
        font-size: 15px;
        display: block;
        width: 100%;
        border-radius: 23px;
        border: 1px solid #d9dfe5;
        min-width: 0;
        padding: 14px 90px 13px 25px;
        outline: transparent;
    }

    &-btn {
        position: absolute;
        width: 70px;
        height: 100%;
        padding: 14px;
        top: 0;
        bottom: 0;
        right: 0;
        border-radius: 23px;
        background-color: $btn;
        color: #fff;
        transition: all 0.3s;
        border: none;

        &:hover {
            opacity: 0.5;
        }
    }
}

//end header section
//start search section

.search {
    background-image: linear-gradient(to left, #0030de 0%, #2e5afb 100%);
    position: relative;
}

.search__inner {
    min-height: 726px;
    text-align: center;
    color: #fff;
    position: relative;

    &-content {
        color: #f3f3f8;
        padding-top: 185px;
    }

    &-title {
        @include f400;
        font-size: 60px;
        line-height: 70px;
        text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    }

    &-subtitle {
        display: block;
        @include f700;
        font-size: 60px;
        line-height: 70px;
        text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    }

    &-text {
        font-size: 20px;
        line-height: 25px;
        margin: 30px 0 60px;
    }

    &-btn {
        width: 190px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        border-radius: 28px;
        border: 1px solid #fff;
        padding: 18px 25px;
        color: #fff;
        transition: all 0.3s;

        &:hover {
            opacity: 0.5;
        }

        &_active {
            width: 190px;
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            border-radius: 28px;
            border: 1px solid #fff;
            padding: 18px 25px;
            background-color: #fff;
            color: #0674ec;
            transition: all 0.3s;
        }

        &_view {
            margin-right: 30px;
        }
    }

    &-form {
        position: absolute;
        max-width: 1140px;
        width: 100%;
        border-radius: 6px;
        background-color: #fff;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
        left: 0;
        right: 0;
        bottom: -67px;
        z-index: 1;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;

        &::after,
        &::before {
            position: absolute;
            content: '';
            max-width: 1110px;
            width: 100%;
            height: 135px;
            border-radius: 6px;
            background-color: rgba(#fff, 0.5);
            bottom: 13px;
            z-index: -1;
        }

        &::before {
            max-width: 1080px;
            bottom: 26px;
        }

        form {
            width: 100%;
        }
    }

    &-fields {
        padding: 40px;
        display: flex;
    }

    &-input {
        width: 100%;
        padding: 12px;
        border: 1px solid #dcdcdc;
        border-radius: 4px 0 0 4px;
        outline: transparent;
    }

    &-select {
        width: 100%;
        padding: 12px;
        max-width: 195px;
        border: 1px solid #dcdcdc;
        border-radius: 0px 4px 4px 0px;
        border-left: none;
        position: relative;
        color: $text;
    }

    &-button {
        border-radius: 4px;
        background-color: #0674ec;
        color: #fff;
        line-height: 20px;
        margin-left: 30px;
        padding: 17px 67px 16px;
        white-space: nowrap;
    }
}

//end search section
//start advantages section

.advantages__items {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-box {
        max-width: 361px;
        height: 403px;
        margin: 186px 0 121px;
        text-align: center;
        transition: all 0.3s;

        &:hover {
            box-shadow: 0 2px 50px rgba(0, 0, 0, 0.08);
            border-radius: 4px;
            background-color: #fff;
        }

        img {
            padding-top: 41px;
            margin-bottom: 30px;
        }
    }

    &-title {
        @include f400;
        color: #010101;
        font-size: 24px;
        line-height: 32px;
    }

    &-text {
        padding: 30px 35px 49px;
        line-height: 30px;
    }
}

//end advantages section
//start slider weekly featured products

.weekly {
    background-color: #eff1f5;

    &__promo {
        padding-top: 120px;
        padding-bottom: 120px;
    }
}

.weekly__slider {

    &-box {
        display: flex;
        justify-content: center;
    }

    &-description {
        max-height: 450px;
        padding: 50px 62px 24px 51px;
        background-color: #fff;
    }

    &-title {
        @include f500;
        color: #000;
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 12px;
        position: relative;
    }

    &-text {
        color: #555555;
        line-height: 30px;
        margin-bottom: 35px;
        height: 130px;
        overflow-y: scroll;
    }

    &-tags {
        margin-bottom: 30px;
    }

    &-tag {
        border-radius: 14px;
        background-color: #f1f3f6;
        font-size: 15px;
        line-height: 22px;
        color: #868c96;
        padding: 3px 15px;
        transition: all 0.3s;

        &:hover {
            background-color: $btn;
            color: #fff;
        }
    }

    &-tag + &-tag {
        margin-left: 4px;
    }

    &-price {
        background-color: #0674ec;
    }

    &-likes {
        margin-left: 25px;
    }

    &-purchases {
        transition: all 0.3s;
        margin-left: 10px;

        &:hover {
            color: $btn;
        }
    }

    &-rating {
        margin-left: auto;
    }
}

.rate-star {
    margin-top: 7px;
}

.slick-arrow {
    position: absolute;
    top: -126px;
    background-color: #7347c1;
    padding: 12px 20px;
    border: none;
    outline: transparent;
    transition: all 0.3s;

    &::before {
        font-size: 14px;
        color: #fff;
    }

    &:hover {
        opacity: 0.5;
    }
}

.slick-prev {
    right: 82px;
    border-bottom-left-radius: 23px;
    border-top-left-radius: 23px;
}

.slick-next {
    right: 30px;
    border-bottom-right-radius: 23px;
    border-top-right-radius: 23px;
}

//end slider weekly featured products
//start newest release products

.newest {
    background-color: #f6f7fb;

    &__promo {
        padding-top: 120px;
        padding-bottom: 120px;
    }
}

.newest__promo-title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
        color: #747b86;
        font-size: 16px;
        line-height: 22px;
        position: relative;
        padding-right: 25px;

        &::after {
            content: '';
            width: 5px;
            height: 20px;
            position: absolute;
            background-image: url(../img/filter.png);
            right: 0;
            top: 0;
        }
    }
}

.newest__filter {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(108, 111, 115, 0.1);
    border-radius: 4px;
    padding: 33px;
    margin-bottom: 51px;

    &-btn {
        margin-left: 10px;

        &.mixitup-control-active {
            background-color: $btn;
            color: #fff;
            @include f500;
        }
    }
}

.newest__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 59px;
}

.newest__item {
    max-width: 361px;
    width: 100%;
    box-shadow: 0 2px 4px rgba(108, 111, 115, 0.1);
    border-radius: 4px;
    background-color: #fff;
    margin-bottom: 30px;
    position: relative;

    &-images {
        position: relative;

        &:hover .newest__item-more {
            display: flex;
        }
    }

    &-more {
        display: none;
        justify-content: center;
        text-align: center;
        position: absolute;
        top: 115px;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 5;

        &_link {
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
            border-radius: 23px;
            border: 1px solid #f4f4f4;
            @include f500;
            font-size: 15px;
            line-height: 20px;
            color: #fff;
            padding: 12px 27px;
            white-space: nowrap;
            transition: all 0.3s;

            &:hover {
                background-color: #fff;
                color: $btn;
            }
        }

        &_link + &_link {
            margin-left: 11px;
        }
    }

    &-image {
        min-height: 230px;
        background-repeat: no-repeat;
        display: block;
        background-position: center;
        background-size: cover;
        transition: all 0.3s;
    }

    &-description {
        padding: 25px 30px 0px;
    }

    &-title {
        @include f500;
        font-size: 20px;
        line-height: 24px;
        color: #000;
        margin-bottom: 12px;
    }

    &-text {
        line-height: 30px;
        margin-bottom: 30px;
    }

    &-data {
        padding: 15px 0;
    }

    &-price {
        color: $btn;
    }

    &-likes {
        margin-left: 18px;
        padding-right: 5px;
    }

    &-purchases {
        margin-left: auto;
        margin-right: 0;
    }
}

.newest__bottom {
    text-align: center;

    &-btn {
        padding: 19px 32px;
        border-radius: 28px;
        font-size: 16px;

         &.mixitup-control-active {
            background-color: $btn;
            color: #fff;
            @include f500;
        }
    }
}






//end newest release products
