@import "vars";
@import "fonts";
@import "global";

//start header

.header__top {
    background-color: #eef1f3;

    &-inner {
        display: flex;
        justify-content: space-between;
        height: 100px;
        align-items: center;
    }
}

.header__logo {
    display: flex;
    align-items: center;
    font-size: 30px;
    line-height: 28px;
    font-weight: 700;
    color: #000;

    span {
        color: $btn;
    }
}

.header__signup-btn {
    min-width: 140px;
    margin-left: auto;
    margin-right: 50px;
    border-radius: 18px;
    background-color: $btn;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

    a {
        font-size: 14px;
        line-height: 14px;
        padding: 13px 18px 12px;
        color: #fff;
    }
}

.header__user {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-icons {
        margin-right: 30px;

        a + a {
            margin-left: 25px;
        }
    }
}

.header__user-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #7c7979;
    margin-right: 22px;
}

.header__user-profile {
    line-height: 22px;
    font-weight: 500;

    a {
        font-weight: 400;
        color: $btn;
    }
}

.header__bottom-inner {
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}

.header__menu ul {
    display: flex;
    align-items: center;

    li {
        font-size: 15px;
        font-weight: 500;
        color: #333;
        text-transform: uppercase;

        & + li {
            margin-left: 32px;
        }
    }
}

.header__search-form {
    max-width: 360px;
    width: 100%;
    position: relative;

    input {
        font-size: 15px;
        display: block;
        width: 100%;
        height: 46px;
        border-radius: 23px;
        border: 1px solid #d9dfe5;
        min-width: 0;
        padding: 16px 90px 16px 25px;
        outline: none;
    }

    button {
        position: absolute;
        width: 70px;
        height: 46px;
        top: 0;
        right: 0;
        border-radius: 23px;
        background-color: $btn;
        color: #fff;
    }
}

//end header
//start search section

.search {
    height: 726px;
    background-image: linear-gradient(to left, #0030de 0%, #2e5afb 100%);
    position: relative;
}

.search__inner-content {
    color: #f3f3f8;
    font-size: 60px;
    line-height: 70px;
}

.search__inner {
    text-align: center;
    color: #fff;
}

.search__inner-title {
    padding-top: 185px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.search__inner-subtitle {
    font-weight: 700;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.search__inner-text {
    font-size: 20px;
    line-height: 25px;
    padding: 30px 0 60px;
}

.search__inner-btn {
    a {
        width: 190px;
        height: 55px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        border-radius: 28px;
        border: 1px solid #fff;
        padding: 18px 25px;
        color: #fff;

        & + a {
            margin-left: 30px;
        }
    }
}

.search__filter-btn.active-btn {
    background-color: #fff;
    color: #0674ec;
}

.search__inner-form {}

.search__box {
    position: absolute;
    height: 135px;
    width: 100%;
    border-radius: 6px;
    background-color: #ffffff;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.search__box-1 {
    opacity: 0.5;
    max-width: 1080px;
    bottom: -48px;
}

.search__box-2 {
    opacity: 0.5;
    max-width: 1110px;
    bottom: -61px;
}

.search__box-3 {
    max-width: 1140px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
    bottom: -74px;

    form {
    }

    input {
        height: 55px;
    }
}
