@import "vars";
@import "fonts";
@import "global";

//start header section

.header__top {
    background-color: #eef1f3;

    &-inner {
        display: flex;
        justify-content: space-between;
        min-height: 100px;
        align-items: center;
    }
}

.header__logo {
    display: flex;
    align-items: center;
    font-size: 30px;
    line-height: 28px;
    font-weight: 700;
    color: #000;

    span {
        color: $btn;
    }
}

.header__logo-img {
    margin-right: 6px;
}

.header__signup {
    min-width: 140px;
    margin-left: auto;
    margin-right: 50px;
    border-radius: 18px;
    background-color: $btn;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s;

    &:hover {
        opacity: 0.5;
    }

    &-btn {
        font-size: 14px;
        line-height: 14px;
        padding: 11px 18px 11px;
        color: #fff;
    }
}

.header__user {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-icons {
        margin-right: 50px;
        transition: all 0.3s;
    }

    &-icon {
        span:hover {
            color: $btn
        }
    }

    &-icon + &-icon {
        margin-left: 31px;
    }

    &-avatar {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #7c7979;
        margin-right: 22px;
    }

    &-profile {
        line-height: 22px;
        font-weight: 500;
    }

    &-balance {
        font-weight: 400;
        color: $btn;
    }
}

.header__bottom-inner {
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}

.menu__list {
    display: flex;
    align-items: center;

    &-item {
        font-size: 15px;
        font-weight: 500;
        color: #333;
        text-transform: uppercase;
    }

    &-item + &-item {
        margin-left: 32px;
    }

    &-link {
        transition: all 0.3s;

        &:hover {
            color: $btn;
        }
    }
}

.header__search {
    max-width: 360px;
    width: 100%;
    position: relative;

    &-input {
        font-size: 15px;
        display: block;
        width: 100%;
        border-radius: 23px;
        border: 1px solid #d9dfe5;
        min-width: 0;
        padding: 14px 90px 13px 25px;
        outline: none;
    }

    &-btn {
        position: absolute;
        width: 70px;
        height: 100%;
        padding: 14px;
        top: 0;
        bottom: 0;
        right: 0;
        border-radius: 23px;
        background-color: $btn;
        color: #fff;
        transition: all 0.3s;
        border: none;

        &:hover {
            opacity: 0.5;
        }
    }
}

//end header section
//start search section

.search {
    background-image: linear-gradient(to left, #0030de 0%, #2e5afb 100%);
    position: relative;
}

.search__inner {
    min-height: 726px;
    text-align: center;
    color: #fff;
    position: relative;

    &-content {
        color: #f3f3f8;
        padding-top: 185px;
    }

    &-title {
        @include f400;
        font-size: 60px;
        line-height: 70px;
        text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    }

    &-subtitle {
        display: block;
        @include f700;
        font-size: 60px;
        line-height: 70px;
        text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    }

    &-text {
        font-size: 20px;
        line-height: 25px;
        margin: 30px 0 60px;
    }

    &-btn {
        width: 190px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        border-radius: 28px;
        border: 1px solid #fff;
        padding: 18px 25px;
        color: #fff;
        transition: all 0.3s;

        &:hover {
            opacity: 0.5;
        }

        &_active {
            width: 190px;
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            border-radius: 28px;
            border: 1px solid #fff;
            padding: 18px 25px;
            background-color: #fff;
            color: #0674ec;
            transition: all 0.3s;
        }

        &_view {
            margin-right: 30px;
        }
    }

    &-form {
        position: absolute;
        max-width: 1140px;
        width: 100%;
        border-radius: 6px;
        background-color: #ffffff;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
        left: 0;
        right: 0;
        bottom: -67px;
        z-index: 1;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;

        &::after {
            position: absolute;
            content: '';
            max-width: 1110px;
            width: 100%;
            height: 135px;
            border-radius: 6px;
            background-color: #ffffff;
            opacity: 0.5;
            bottom: 13px;
            z-index: -1;
        }

        &::before {
            position: absolute;
            content: '';
            max-width: 1080px;
            width: 100%;
            height: 135px;
            border-radius: 6px;
            background-color: #ffffff;
            opacity: 0.5;
            bottom: 26px;
            z-index: -1;
        }

        form {
            width: 100%;
        }
    }

    &-fields {
        padding: 40px;
        display: flex;
    }

    &-input {
        width: 100%;
        padding: 12px;
        border: 1px solid #dcdcdc;
        border-radius: 4px 0 0 4px;
    }

    &-select {
        width: 100%;
        padding: 12px;
        max-width: 195px;
        border: 1px solid #dcdcdc;
        border-radius: 0px 4px 4px 0px;
        border-left: none;
        outline: none;
        position: relative;
        color: $text;
    }

    &-button {
        border-radius: 4px;
        background-color: #0674ec;
        color: #fff;
        line-height: 20px;
        margin-left: 30px;
        padding: 17px 67px 16px;
        white-space: nowrap;
    }
}

//end search section
//start advantages section

.advantages__items {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-box {
        max-width: 361px;
        height: 403px;
        margin: 186px 0 121px;
        text-align: center;
        transition: all 0.3s;

        &:hover {
            box-shadow: 0 2px 50px rgba(0, 0, 0, 0.08);
            border-radius: 4px;
            background-color: #fff;
        }

        img {
            padding-top: 41px;
            margin-bottom: 30px;
        }
    }

    &-title {
        @include f400;
        color: #010101;
        font-size: 24px;
        line-height: 32px;
    }

    &-text {
        padding: 30px 35px 49px;
        line-height: 30px;
    }
}

//end advantages section
//start slider weekly featured products

.weekly {
    background-color: #eff1f5;

    &__promo {
        padding-top: 120px;
        padding-bottom: 120px;

        &-title {
            background-color: #fff;
            box-shadow: 0 2px 4px rgba(108, 111, 115, 0.1);
            border-radius: 4px;
            font-size: 30px;
            line-height: 35px;
            padding: 38px 29px 37px;
            margin-bottom: 50px;
        }
    }
}

.weekly__slider {
    &-item {
        display: flex;
        justify-content: center;
    }

    &-description {
        max-height: 450px;
        padding: 50px 62px 24px 51px;
        background-color: #fff;
    }

    &-title {
        @include f500;
        color: #000;
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 20px;
    }

    &-info {
        font-size: 15px;
        line-height: 20px;
        margin-bottom: 20px;
    }

    &-designer {
        margin-right: 35px;
        padding-left: 40px;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            width: 30px;
            height: 30px;
            background-image: url(../img/slider/avatar.png);
            top: -7px;
            left: 0;
        }
    }

    &-platform {
        color: $violet;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            width: 16px;
            height: 16px;
            background-image: url(../img/slider/wp-icon.svg);
            top: 2px;
            left: -22px;
        }
    }

    &-text {
        color: #555555;
        line-height: 30px;
        margin-bottom: 35px;
        height: 130px;
        overflow: scroll;
    }

    &-tags {
        margin-bottom: 30px;
    }

    &-tag {
        border-radius: 14px;
        background-color: #f1f3f6;
        font-size: 15px;
        line-height: 22px;
        color: #868c96;
        padding: 3px 15px;
        transition: all 0.3s;

        &:hover {
            background-color: $btn;
            color: #fff;
        }
    }

    &-tag + &-tag {
        margin-left: 4px;
    }

    &-data {
        display: flex;
        justify-content: flex-start;
        border-top: 1px solid #ececec;
        padding: 25px 0;
        font-size: 15px;
    }

    &-price {
        @include f500;
        border-radius: 16px;
        background-color: #0674ec;
        color: #fff;
        padding: 6px 18px;
    }

    &-likes,
    &-purchases {
        padding: 6px 18px;
        position: relative;

        &::before {
            position: absolute;
            font-family: 'Linearicons-Free';
            left: -5px;
        }
    }

    &-likes {
        margin-left: 25px;
    }

    &-purchases {
        transition: all 0.3s;
        margin-left: 10px;

        &:hover {
            color: $btn;
        }
    }

    &-rating {
        margin-left: auto;
    }
}

.rate-star {
    margin-top: 7px;
}

//end slider weekly featured products
